body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#about {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

#about h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
}

.points {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.point {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.point h3 {
    font-size: 1.5em;
    color: #2d6a4f;
    margin-bottom: 10px;
}

.point p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d6a4f;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background: white;
    color: #2d6a4f;
    border-radius: 5px;
}

video {
    width: 100%; /* Il video occuperà tutta la larghezza del contenitore */
    max-width: 1000px; /* Imposta una larghezza massima per non esagerare */
    display: block;
    margin: 50px auto; /* Lo centra orizzontalmente */
}

footer {
    text-align: center;
    padding: 20px;
    background: #2d6a4f;
    color: white;
}